<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
</head>
<body>
    <h1>Editar Usuário</h1>

    <form method="POST">
        <label>Nome:</label><br>
        <input type="text" name="nome" value="{{ usuario.nome_completo }}" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" value="{{ usuario.email }}" required><br><br>

        <label>Senha:</label><br>
        <input type="password" name="senha" value="{{ usuario.senha_hash }}" required><br><br>

        <label>Perfil:</label><br>
        <select name="perfil" required>
            {% for p in perfis %}
                <option value="{{ p.id }}" {% if usuario.perfil_id == p.id %}selected{% endif %}>
                    {{ p.nome_perfil }}
                </option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Salvar Alterações</button>
    </form>

    <a href="{{ url_for('main.listar_usuarios') }}">Voltar</a>
</body>
</html>
