<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Usuário</title>
</head>
<body>
    <h1>Cadastrar Novo Usuário</h1>

    <form method="POST">
        <label>Nome:</label><br>
        <input type="text" name="nome" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Senha:</label><br>
        <input type="password" name="senha" required><br><br>

        <label>Perfil:</label><br>
        <select name="perfil" required>
            {% for p in perfis %}
                <option value="{{ p.id }}">{{ p.nome_perfil }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Salvar</button>
    </form>

    <a href="{{ url_for('main.listar_usuarios') }}">Voltar</a>
</body>
</html>
