<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Hotel Estada Feliz</title>
</head>
<body>
    <h1>Login no Sistema</h1>

    <form method="POST">
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Senha:</label><br>
        <input type="password" name="senha" required><br><br>

        <button type="submit">Entrar</button>
    </form>

    <br>
    <a href="{{ url_for('main.index') }}">Voltar à Página Inicial</a>
</body>
</html>
